body{
    background-color: aquamarine;
}
h1{
    color: rgb(0, 129, 129);
}
p{
    color: black;
}
ul li{
    color: blue;
}
ol li{
    color: rgb(218, 75, 23);
}
q{
    color: blueviolet;
}
a{
    color: green;
}